

.commentsButton {
  display: flex;
  align-items: normal;
}
.commentsButton * {
  color: var(--greyC4);
}

.commentsNumber {
  padding: 0 0 0 6px;
  font-size: 12px;
  line-height: 14px;
}

.controls {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.actions {
  display: flex;
  flex-flow: row nowrap;
}
.actions > * + * {
  margin: 0 0 0 13px;
}

.shareButton {
  width: 20px;
  height: 20px;
}

.saveButton {
  width: 20px;
  height: 20px;
}





@media all and (min-width: 1024px) {
  .commentsButton {
    display: none;
  }

  .controls {
    order: 3;
    flex: 0 0;
    margin: 0 0 0 24px;
  }

  .actions {
    display: none;
  }
}